*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
